<div *ngIf="tickets">
  <table class="highlight">
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Show answer</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>
          <span [innerHTML]="ticket.question | keepHtml"></span>
        </td>
        <td><span *ngIf="ticket.showAnswer"
          [innerHTML]="ticket.answer | keepHtml"></span>
        </td>
        <td>
          <a class="waves-effect waves-purple btn-flat white"
            (click)="showAnswer(ticket)">
            <span *ngIf="!ticket.showAnswer">
              Show answer
            </span>
            <span *ngIf="ticket.showAnswer">
              Hide answer
            </span>
          </a>
        </td>
        <td>
          <a class="btn-floating btn-flat waves-effect waves-purple white tooltipped"
            routerLink="edit"
            (click)="editTicket(ticket)">
            <i class="material-icons blue-grey-text">edit</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>