<div [ngClass]="{'modal-wrapper': true, 'open': !hidden}">
  <div class="modal">
    <div class="margin-md">
      <div class="modal-content">
        <h4 class="blue-grey-text text-darken-4">{{header}}
          <span *ngIf="confirmMode && item"
            class="black-text"> "{{item}}"</span>
          <span *ngIf="confirmMode"
            class="blue-grey-text text-darken-4">?</span>
        </h4>
        <div *ngIf="!confirmMode"
              class="row">
          <div class="input-field col s12">
            <input [(ngModel)]="item" type="text">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="waves-effect waves-light btn light-green darken-3 margin-sm"
          [disabled]="!item && !confirmMode"
          (click)="saveAndClose()">OK</button>
        <button class="waves-effect waves-light btn grey darken-3 margin-sm"
          (click)="close()">Cancel</button>
      </div>
    </div>
  </div>
  <div class="modal-overlay"></div>
</div>