.modal-wrapper .modal{
  z-index: 1003;
  display: none;
}

.modal-wrapper .modal-overlay{
  z-index: 1002;
  display: none;
  opacity: 0.5;
}

.modal-wrapper.open .modal{
  z-index: 1003;
  display: block;
  top: 20%;
}

.modal-wrapper.open .modal-overlay{
  display: block;
}
