<div class="container">
  <h3>Questions</h3>

  <div class="row">
    <div class="col">
      <a class="btn-floating btn-large waves-effect waves-light deep-purple tooltipped large"
        (click)="loadData()">
        <i class="material-icons">autorenew</i>
      </a>
    </div>
  
    <div class="col">
      <a class="btn-floating btn-large waves-effect waves-light light-green tooltipped large"
        routerLink="edit">
        <i class="material-icons">add_circle</i>
      </a>
    </div>
  </div>

  <app-tickets-list
    [tickets]="tickets$ | async"
    (deleteTicket)="deleteTicket($event)">
  </app-tickets-list>

</div>
