<div *ngIf="ticket">
  <div class="row">
    <form [formGroup]="ticketForm">
    <!--                question part                  -->
      <div class="input-field col s12">
        <h5>Question</h5>
        <div *ngIf="!edit.question">
          <div [innerHTML]="ticket.question | keepHtml"
              (click)="edit.question = !edit.question">
          </div>
        </div>
        <div *ngIf="edit.question">
          <textarea autosize class="materialize-textarea"
                    formControlName="question"
                    [innerHTML]="ticket.question">
          </textarea>
        </div>
      </div>

      <div *ngIf="edit.question">
        <a class="waves-effect waves-light btn deep-purple"
          (click)="applyQuestionText()">OK</a>
        <a class="waves-effect waves-light btn deep-purple"
          (click)="cancelQuestionText()">Cancel</a>
      </div>
    <!--                answer part                  -->
      <div class="input-field col s12">
        <h5>Answer</h5>
        <div *ngIf="!edit.answer">
          <div [innerHTML]="ticket.answer | keepHtml"
              (click)="edit.answer = !edit.answer">
          </div>
        </div>
        <div *ngIf="edit.answer">
    <!--          tool buttons start              -->
          <div>
            <a class="waves-effect waves-light btn-small white black-text margin-sm"
              (click)="makeBold(answerarea, 'answer')"><i class="tiny material-icons">format_bold</i>
            </a>
            <a class="waves-effect waves-light btn-small white black-text margin-sm"
              (click)="makeItalic(answerarea, 'answer')"><i class="tiny material-icons">format_italic</i>
            </a>
            <a class="waves-effect waves-light btn-small white black-text margin-sm"
              (click)="makeSup(answerarea, 'answer')"><sup>sup</sup>
            </a>
            <a class="waves-effect waves-light btn-small white black-text margin-sm"
              (click)="makeSub(answerarea, 'answer')"><sub>sub</sub>
            </a>
            <a class="waves-effect waves-light btn-small white black-text margin-sm"
                (click)="makePre(answerarea, 'answer')"><i class="tiny material-icons">code</i>
            </a>
            <a class="waves-effect waves-light btn-small white black-text margin-sm"
              (click)="highlightBlock(answerarea, 'answer')"><i class="tiny material-icons">format_color_fill</i>
            </a>
            <a class="waves-effect waves-light btn-small white black-text margin-sm"
              (click)="makeH3(answerarea, 'answer')"><b>H</b>3
            </a>
            <a class="waves-effect waves-light btn-small white black-text margin-sm"
              (click)="makeH4(answerarea, 'answer')"><b>H</b>4
            </a>
            <a class="waves-effect waves-light btn-small white black-text margin-sm"
              (click)="makeH5(answerarea, 'answer')"><b>H</b>5
            </a>
            <a class="waves-effect waves-light btn-small white black-text margin-sm"
              (click)="clearTag(answerarea, 'answer')"><i class="tiny material-icons">format_clear</i>
            </a>
          </div>
    <!--          tool buttons end              -->
          <textarea autosize class="materialize-textarea" #answerarea
                    formControlName="answer"
                    [innerHTML]="ticket.answer">
          </textarea>
        </div>
      </div>

      <div *ngIf="edit.answer">
        <a class="waves-effect waves-light btn deep-purple margin-sm"
          (click)="applyAnswerText()">OK</a>
        <a class="waves-effect waves-light btn deep-purple margin-sm"
          (click)="cancelAnswerText()">Cancel</a>
      </div>

    </form>
  </div>

  <div>
    <a class="waves-effect waves-light btn deep-purple"
      (click)="onSave()">Done</a>
  </div>


  <a #but1 class="btn tooltip-container" (mouseenter)="but1.vis = true" (mouseleave)="but1.vis = false">
    Hover me!
    <div [ngClass]="{'tooltip-hidden': true, 'tooltip-show': but1.vis}">
        Tooltip text very long and qkjcebe kwjeb wjeb hjwbck djhbw jhcbv kwhje 
    </div>
  </a>

  <a #but1 class="btn tooltip-container" (mouseenter)="but1.vis = true" (mouseleave)="but1.vis = false">
      Hover me!
      <div [ngClass]="{'tooltip-hidden': true, 'tooltip-show': but1.vis}">
          Tooltip
      </div>
    </a>
  

</div>
