<div class="row">
  <h2 class="center-text">Test program</h2>
  <div class="col m6 s12">
    <a class="card-panel noselect big-button light-green-text text-darken-3"
      routerLink="/tickets">
      <h4>
        Learn tickets
      </h4>
      <div class="margin-xl">
        <i class="material-icons">style</i>
      </div>
    </a>
  </div>

  <div class="col m6 s12">
    <a class="card-panel noselect big-button grey-text text-darken-3"
      routerLink="/settings">
      <h4>
        User settings
      </h4>
      <div class="margin-xl">
        <i class="material-icons">settings</i>
      </div>
    </a>
  </div>

</div>