<ul class="pagination">
  <!-- <li class="disabled"><a routerLink="./"><i class="material-icons">chevron_left</i></a></li>

  <li class="waves-effect active deep-purple"><a routerLink="./">1</a></li>
  <li class="waves-effect"><a routerLink="./">2</a></li>
  <li class="waves-effect"><a routerLink="./">3</a></li>
  <li class="waves-effect"><a routerLink="./">4</a></li>
  <li class="waves-effect"><a routerLink="./">5</a></li>

  <li class="waves-effect"><a routerLink="./"><i class="material-icons">chevron_right</i></a></li> -->

  <li class="disabled"><a (click)="test()"><i class="material-icons">chevron_left</i></a></li>

  <li *ngFor="let page of pages"
    [ngClass]="{'waves-effect': true, 'deep-purple': isCurrentPage(page), 'active': isCurrentPage(page)}"
    class="waves-effect">
    <a (click)="test(page)">{{page.pageNum + 1}}</a>
  </li>

  <li class="waves-effect"><a (click)="test()"><i class="material-icons">chevron_right</i></a></li>
</ul>