<a class="btn-small btn-flat orange lighten-4 black-text margin-sm tooltip-container noselect"
(mousedown)="makeBold()"><i class="tiny material-icons">format_bold</i>
<div class="tooltip">Make text <b>bold</b></div>
</a>
<a class="btn-small btn-flat orange lighten-4 black-text margin-sm tooltip-container noselect"
(mousedown)="makeItalic()"><i class="tiny material-icons">format_italic</i>
<div class="tooltip">Make text <i>italic</i></div>
</a>
<a class="btn-small btn-flat orange lighten-4 black-text margin-sm tooltip-container noselect"
(mousedown)="makeSup()"><sup>sup</sup>
<div class="tooltip">Lift <sup>up</sup> text</div>
</a>
<a class="btn-small btn-flat orange lighten-4 black-text margin-sm tooltip-container noselect"
(mousedown)="makeSub()"><sub>sub</sub>
<div class="tooltip">Pull <sub>down</sub> text</div>
</a>
<a class="btn-small btn-flat orange lighten-4 black-text margin-sm tooltip-container noselect"
(mousedown)="makePre()"><i class="tiny material-icons">code</i>
<div class="tooltip">Preformat text <pre style="color: white">in code style</pre></div>
</a>
<a class="btn-small btn-flat orange lighten-4 black-text margin-sm tooltip-container noselect"
(mousedown)="highlightBlock()"><i class="tiny material-icons">format_color_fill</i>
<div class="tooltip">Highlight <div class="highlighted" style="color: black">a part of</div> the text</div>
</a>
<a class="btn-small btn-flat orange lighten-4 black-text margin-sm tooltip-container noselect"
(mousedown)="makeH3()"><b>H</b>3
<div class="tooltip">Make a <h3>big header</h3></div>
</a>
<a class="btn-small btn-flat orange lighten-4 black-text margin-sm tooltip-container noselect"
(mousedown)="makeH4()"><b>H</b>4
<div class="tooltip">Make a <h4>medium header</h4></div>
</a>
<a class="btn-small btn-flat orange lighten-4 black-text margin-sm tooltip-container noselect"
(mousedown)="makeH5()"><b>H</b>5
<div class="tooltip">Make a <h5>small header</h5></div>
</a>
<a class="btn-small btn-flat orange lighten-4 black-text margin-sm tooltip-container noselect"
(mousedown)="makeA()"><i class="tiny material-icons">link</i>
<div class="tooltip">Create <a>hyperlink</a></div>
</a>
<a class="btn-small btn-flat orange lighten-4 black-text margin-sm tooltip-container noselect"
(mousedown)="clearTag()"><i class="tiny material-icons">format_clear</i>
<div class="tooltip">Clear all tags</div>
</a>