.sidenav-wrapper.open .sidenav {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: .25s;
  transition: .25s;
}

.sidenav-wrapper .sidenav {
  width: inherit;
  min-width: 30rem;
  z-index: 999;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: .25s;
  transition: .25s;
}

.sidenav-wrapper .sidenav-overlay{
  z-index: 998;
  display: none;
  opacity: 0.5;
}

.sidenav-wrapper.open .sidenav-overlay{
  display: block;
}

@media only screen and (max-width: 450px) {
  .sidenav-wrapper .sidenav {
    width: 100%;
    min-width: 100%;
  }

  .sidenav-wrapper.open .sidenav-overlay{
    display: none;
  }
}