<div class="row">
  <div *ngIf="categories; else loading" class="col s12">
    <nav class="nav-flat">
      <div class="nav-wrapper white row">
        <a *ngFor="let breadcrumb of categories" class="col breadcrumb breadcrumb-inversed">
          {{breadcrumb.name}}</a>
      </div>
    </nav>
  </div>

  <ng-template #loading>
    <div class="col s12 margin-top-lg margin-bottom-lg">
      <div class="progress deep-purple lighten-5">
        <div class="indeterminate deep-purple"></div>
      </div>
    </div>
  </ng-template>

</div>