<div class="row">
  <ul *ngIf="categories" class="col s12">
    <li class="category-list-template" *ngFor="let cat of categories">
      <app-categories-list-item 
        [checkItemMode]="true"
        [editMode]="true"
        [listItem]="cat"
        (deleteCategory)="onDeleteCategory($event)"
        (addCategory)="onAddCategory($event)"
        (editCategory)="onEditCategory($event)"
        (chooseCategory)="onChooseCategory($event)">
      </app-categories-list-item>
    </li>
  </ul>
</div>