<div class="row">
  <div *ngIf="editMode"
     class="col">
    <button class="waves-effect waves-light btn grey darken-3 margin-sm"
      routerLink="../"><i class="material-icons left">chevron_left</i>Go Back
    </button>
    <button class="waves-effect waves-light btn light-green darken-3 margin-sm"
      (click)="onAddCategory(null)">
      <i class="material-icons left">add</i>Add root
    </button>
  </div>
  <ul *ngIf="categories; else loading" class="col s12">
    <li *ngFor="let cat of categories; index as i"
        class="category-list-template category-list-container">
        <app-categories-list-item 
          [checkItemMode]="checkItemMode"
          [editMode]="editMode"
          [listItem]="cat"
          [checkedItemId]="checkedItemId"
          [checkedItems]="checkedItems"
          [hideChildren]="hideChildren"
          [multiCheck]="multiCheck"
          (deleteCategory)="onDeleteCategory($event)"
          (addCategory)="onAddCategory($event)"
          (editCategory)="onEditCategory($event)"
          (unChooseCategory)="onUnChooseCategory($event)"
          (chooseCategory)="onChooseCategory($event)">
        </app-categories-list-item>
      <span *ngIf="i < categories.length-1" class="tree-trunc-icon-item"></span>
    </li>
  </ul>
</div>

<ng-template #loading>
  <div class="col s12 margin-top-xl margin-bottom-xl">
    <div class="progress deep-purple lighten-5">
      <div class="indeterminate deep-purple"></div>
    </div>
  </div>
</ng-template>
<!--                 modal windows                   -->
<app-modal-window #modalEditCategory
  [header]="'Edit category name:'"
  (okAction)="onUpdateCategory($event)">
</app-modal-window>

<app-modal-window #modalAddCategory
  [header]="'New category name:'"
  (okAction)="onAddNewCategory($event)">
</app-modal-window>

<app-modal-window #modalDeleteCategory
  [header]="'Delete category'"
  (okAction)="onDeleteCategoryWithSubcategories($event)">
</app-modal-window>