/* You can add global styles to this file, and also import other style files */
.highlighted {
  background-color: #fdfdfd;
  background-color: lavender;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 1rem;
}

.margin-sm {
  margin: .1rem;
}

.padding-left-lg {
  padding-left: 2rem;
}

.question {
  color: #311b92;
}

.tooltip-container {
  position:relative;
}

.tooltip {
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: calc(-5rem - .5rem);
  width: 10rem;
  min-height: 36px;
  visibility: visible; 
  opacity: 0;
  background-color: black;
  text-transform: none;
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  border-radius: 5px;
  color: white;
  pointer-events: none;
  line-height: 120%;
  text-align: center;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-container:hover .tooltip {
  opacity: .9;
  -webkit-transition: .5s;
  transition: .5s;
}

.underlined-block {
  padding: 1rem 0;
  border: 1px solid;
  border-color: transparent transparent #e0e0e0 transparent;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.category-list-item {
  display: block;
  border-color: #311b92;
  transform: translateY(0);
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: .25s;
  transition: .25s;
}

.category-list-item:hover {
  background-color: #ede7f6;
  -webkit-transition: .25s;
  transition: .25s;
}

.category-list-item .show-on-hover{
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .25s;
  transition: .25s;
}

.category-list-item:hover .show-on-hover{
  visibility: visible;
  opacity: 1;
  -webkit-transition: .25s;
  transition: .25s;
  transition-delay: .5s;
}

.category-list-item-hide {
  display: none;
}

.category-list-template {
  margin-left: 1rem;
}

[type="checkbox"]+.custom-checkbox::before {
  border: 2px solid #b0bec5 !important;
  border-radius: 4px !important;
}

[type="checkbox"].subchecked+.custom-checkbox::before {
  outline: 2px solid white;
  outline-offset: -4px;
  border: 2px solid #78909c !important;
  padding: 2px;
  background: #c8e6c9;
  border-radius: 2px !important;
}

[type="checkbox"]:checked+.custom-checkbox:before {
  border-top: 4px solid transparent !important;
  border-left: 4px solid transparent !important;
  border-right: 2px solid #33691e !important;
  border-bottom: 2px solid #33691e !important;
}

nav.nav-flat {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.breadcrumb-inversed {
  cursor: pointer;
  color: #455a64;
}

.breadcrumb-inversed::before {
  color: #607d8b;
}

.breadcrumb-inversed:last-child {
  color: #263238;
}

.clickable {
  cursor: pointer;
}